**
!Dockerfile
!go.mod
!go.sum
!cmd/
!cmd/server/
!cmd/server/server.go
!cmd/server/front/
!cmd/server/front/dist/
!cmd/server/front/dist/**
!pkg/
!pkg/**
!scripts/
!scripts/checkK8SApiInsideContainer.sh
!scripts/getK8SApiFromUrl.sh
!scripts/getServiceEndPointFromInsideContainer.sh
!scripts/checkOtherPodConnectivityInsideContainer.sh
!certificates/
!certificates/isrg-root-x1-cross-signed.pem
cmd/server/front/node_modules/
cmd/server/front/node_modules/**
