# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
#*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.idea
#
# IaC TerraForm state and config files
/.terraform*
/*.tfstate*
/kubeconfig
access-key.json
go_admin_credentials_secrets
/security/
/server
/secret/
/cmd/server/go-cloud-k8s-shell-front/
/.env
/.env_for_github.txt
/deployments/go-testing/configmap.yaml
/deployments/go-testing/configmap-soi.yaml
/go-shell-server
/coverage.out
/deployments/go-testing_soi/secret/comodo_2024.bundle
/deployments/go-testing_soi/secret/comodo_lausanne_ch_2024_nopassword.key
/deployments/go-testing_soi/app-secrets-go-cloud-k8s-shell.yaml
/deployments/go-testing_soi/sealed-app-secrets-go-cloud-k8s-shell.yaml
